.main {
    position: relative;
    display: inline-block;
}

.bubble {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Centered text */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
}


#nickname {
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    margin: 0px;
    width: 110%;
    transform: translate(0px, -15px);
}

#text {
    margin: 0px;
    width: 110%;
    display: inline-block;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40px;
    transform: translate(0px, -10px);
}